<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task4</title>
    <link rel="stylesheet" href="" th:href="@{/css/task4.css}">
</head>
<body>
    <div class="main__wrapper">
        
        <div class="title">
            <p>Recent updates</p>
        </div>
        <div class="line1"></div>
        <div class="box">
            <div class="smallBox">

            </div>
            <div class="wrapper_username_Desc">
                <div class="username">
                    <b>@username</b>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- <div class="line"></div> -->
        <div class="line"></div>

        <div class="box">
            <div class="smallBox1">

            </div>
            <div class="wrapper_username_Desc">
                <div class="username">
                    <p>@username</p>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="box">
            <div class="smallBox2">

            </div>
            <div class="wrapper_username_Desc">
                <div class="username">
                    <p>@username</p>
                </div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <a href="#">all Updates</a>
    </div>
    
</body>
</html>